@media  (max-height: 1366px) {
    .add-note {
        top: 30%;
    }

    .draft {
        top: 40%;
    }
}

@media  (max-height: 1024px) {
    .add-note {
        top: 25%;
    }
}

@media  (max-height: 823px) {
    .add-note {
        top: 15%;
    }

    .draft {
        top: 35%;
    }
}

@media  (max-height: 736px) {
    .add-note {
        top: 0;
        height: 100%;
        h3 {
            padding-top: 15%;
        }
    }
}

@media  (max-height: 640px) {
    .add-note {
        h3 {
            padding-top: 8%;
        }
    }

    .draft {
        top: 30%;
    }
}

@media  (max-height: 568px) {
    .add-note {
        h3 {
            padding-top: 0;
        }
    }
}