@media  (max-width: 768px) {
    .filter {
        width: 60%;
    }

    .add-note {
        left: 10%;
        width: 80%;
    }

    .sort {
        width: 80%;
    }

    .note-list {
        width: 80%;
    }

    .draft {
        left: 20%;
        width: 60%;
    }
}