@media  (max-width: 1200px) {
    .filter {
        width: 40%;
    }

    .add-note {
        width: 60%;
        left: 20%;
    }

    .sort {
        width: 60%;
    }

    .note-list {
        width: 60%;
    }
}