@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$blue: #1E90FF;
$darkblue: rgb(18, 90, 163);
$white: #ffffff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    text-align: center;
}

header {
    background-color: $blue;
    color: $white;
    font-size: 4rem;
    padding: 1rem;
}

.filter{
    width: 30%;
    margin: 4rem auto;
    input {
        width: 100%;
        font-size: 2rem;
        text-align: left;
        padding: 0.5rem 1rem;
    }
}

.add-note {
    background-color: $blue;
    color: $white;
    border: none;
    font-size: 2rem;
    padding: 1rem;
    &:hover{
        background-color: $darkblue;
        cursor: pointer;
    }
}

.sort {
    width: 50%;
    margin: 4rem auto 0 auto;
    display: flex;
    border-bottom: .2rem solid $blue;
    padding-bottom: 0.5rem;
    justify-content: space-between;
    align-items: center;
    span{
        color: $blue;
        font-size: 1.6rem;
        font-weight: bold;
    }
    select{
        font-size: 1.6rem;
        option {
            font-size: 1.6rem;
        }
    }
}

.note-list {
    width: 50%;
    margin: 1rem auto 0 auto;
}